---
{{ ansible_managed | comment }}
{% if cosmosexp_security_config is defined %}
tls_server_config:
  cert_file: {{ cosmosexp_security_config.cert_file }}
  key_file: {{ cosmosexp_security_config.key_file }}

basic_auth_users:
  prometheus: {{ cosmosexp_security_config.password | password_hash('bcrypt', ('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890' | shuffle(seed=inventory_hostname) | join)[:22], rounds=9) }}
{% endif %}
