{{ ansible_managed | comment }}

[Unit]
Description=Cosmos Exporter
After=network-online.target

[Service]
Type=simple
User={{ cosmosexp_user }}
TimeoutStartSec=0
CPUWeight=95
IOWeight=95
ExecStart={{ _cosmosexp_binary_install_dir }}/cosmos_exporter \
{%  if cosmosexp_args | length > 0 %}
{%    for arg, value in cosmosexp_args.items() %}
    --{{ arg }}={{ value }} \
{%    endfor %}
{% endif %}
{% if cosmosexp_security_config is defined %}
    --web-config={{ cosmosexp_security_config.tls_path }}/config.yaml
{% endif %}
SyslogIdentifier=cosmos_exporter
Restart=always
RestartSec=2
StartLimitInterval=0
KillSignal=SIGTERM
TimeoutStartSec=0

{% for m in ansible_mounts if m.mount == '/home' %}
ProtectHome=read-only
{% else %}
ProtectHome=yes
{% endfor %}
NoNewPrivileges=yes

{% if cosmosexp_systemd_version | int >= 232 %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
