[defaults]
inventory = hosts.yml
retry_files_enabled = false
callbacks_enabled = profile_tasks
log_path=./ansible.log
roles_path=./roles
filter_plugins=./filter_plugins
deprecation_warnings=False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o IdentitiesOnly=yes
pipelining = True
